{% load static %}
<footer class="py-5 container-fluid bg-dark">
    <div class="container text-white">
        <div class="row">
            <div class="col-12 col-md">
                <img src="{% static 'logo.svg' %}">
                <small class="d-block mb-3 text-muted pt-2">© 2020</small>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="">Política de privacidad</a> <!-- TODO Fix link -->
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md"></div>
            <div class="col-6 col-md"></div>
            <div class="col-6 col-md"></div>
        </div>
    </div>
</footer>