{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="pb-2 mt-4 mb-2 border-bottom container">
      <h1>{{ title }}</h1>
</div>

<div class="container text-center">
    <form class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 pt-5 align-middle" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form layout='inline' %}
        <button class="btn btn-lg btn-dark" type="submit">{{ title }}</button>
    </form>   

    <div class="container mt-2">
    {% if title == "Iniciar sesión" %}
        <div class="my-2"><a href="{% url 'social:begin' 'facebook' %}"><button class="btn text-light" style="background-color:#3b5998"><i class="fab fa-facebook-f"></i> Inicia Sesión con Facebook</button></a></div>
        <div class="my-2"><a href="{% url 'social:begin' 'strava' %}"><button class="btn text-light" style="background-color:#fc4c02"><i class="fab fa-strava"></i> Inicia Sesión con Strava</button></a></div>        

        <hr class="hr-text" data-content="¿No tienes una cuenta?">
        <div class="my-2"><a href=""><button class="btn btn-secondary">Registrate</button></a></div>
    {% else %}
        <div class="my-2"><a href="{% url 'social:begin' 'facebook' %}"><button class="btn text-light" style="background-color:#3b5998"><i class="fab fa-facebook-f"></i> Registrate con Facebook</button></a></div>
        <div class="my-2"><a href="{% url 'social:begin' 'strava' %}"><button class="btn text-light" style="background-color:#fc4c02"><i class="fab fa-strava"></i> Registrate con Strava</button></a></div>
        <hr class="hr-text" data-content="¿Ya tienes una cuenta?">
        <a href=""><button class="btn btn-secondary">Iniciar sesión</button></a>
    {% endif %}    
    </div>      
</div>

{% endblock content %}